<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CD1505Weibo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCE3DBDF1C321B2B003D2E36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCE3DBF81C321B2B003D2E36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCE3DC031C321B2B003D2E36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
